.container1
{
    display: flex;
    flex-direction: row;
    gap:10%;
}
.input1
{
    padding: 4% 4%;
    border-radius: 10px 10px;
    border-style: none;
}
.button1
{
    color: white;
    /* background-color: rgb(103, 48, 212); */
    background: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 10px;
    padding: 4% 4%;
    border-style: none;
    font-weight: 500;
    width: 100%;
    font-size: large;
    /* height:20px; */
}
.container2
{
    width: 10%;  
}
.container3
{
    display: flex;
    flex-direction: row;
    gap: 75%;
}
.container4
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    position: relative;
    left: 25%;
    border-radius: 10px;
    border-style: none;
    box-shadow: 5px 5px 7px 7px #7ce9ff;
    padding: 4% 4%;
}
.img1
{
    width:75%;
}
.container5
{
    display:flex;
    flex-direction: row;
    width: 100%;
    gap: 2%;
}
.container6
{
    
    position: relative;
    bottom: 22px;
}