<div class="container3">
    <div class="container2">
        <img src="https://i.imgur.com/NpFMtte.jpeg" class="img1">
    </div>
    <div class="container1">
        <button class="button1" (click)="about()">about</button>
        <button class="button1" (click)="generate_test()">Generate </button>
        <button class="button1" (click)="logout()">Logout</button>
        <!-- <button (click)="signup()" class="button1">Signup</button> -->
        </div>
    </div>
<h1 align="center">Welcome to TestForge AI {{this.user.username}}!</h1>
<p align="center" width="30%">Test Forge AI is your personalized learning companion, designed to revolutionize the way you prepare for exams. Instantly create custom mock tests tailored to your needs by specifying parameters such as the exam name, topic/subject, and difficulty level. With Test Forge AI, you can practice efficiently, evaluate your performance with instant scoring, and identify areas for improvement—all in one place. Whether you're preparing for standardized tests, competitive exams, or just honing your knowledge, Test Forge AI is here to help you succeed.</p>