<div class="container3">
<div class="container2">
    <img src="https://i.imgur.com/NpFMtte.jpeg" class="img1">
</div>
<div class="container1">
<button (click)="login()" class="button1">Login</button>
<!-- <button (click)="signup()" class="button1">Signup</button> -->
</div>
</div>
<h1 align="center">Master Every Exam with AI Precision</h1>
<p align="center">Customize your practice with exams, sections, and difficulty tailored to you.</p>
<div class="container4" >
    <input type="text" #username placeholder="username" class="input1" (keyup)="signup1(username.value,password.value)">
    <input type="password" #password placeholder="password" class="input1"  (keyup)="signup1(username.value,password.value)">
    <button (click)="signup(username.value,password.value)" class="button1" >Signup</button>
</div>